	<section id="contato" class="cabecalho">
        <div class="faixa_branca">
            <div class="container">
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="titulo-pagina text-left">
                                <strong>Cadastro de Municípios</strong>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- ***************** -->
                <!-- MENSAGEM          -->        
                <!-- ***************** -->

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <div class="{{ stsMensagem }}" [hidden]="flagHidden" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{txtMensagem}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <form id="formfiltro" class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
                                <div class="form-group col-lg-6">
                                    <label for="txtFiltro" class="control-label">Filtro: </label>
                                    <input style="width: 490px;" type="text" id="txtFiltro" class="form-control" [(ngModel)]="txtFiltro" value="{{txtFiltro}}" name="txtFiltro" ngModel>
                                </div>
                                <button type="submit" class="btn btn-success">Filtrar</button>
                                <div class="form-group col-lg-6"></div>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <div style="margin-bottom: 5px;">  
                                <a class="btn btn-success" [routerLink]="['/municipio/novo']" [queryParams]="{modo: 'editar'}" role="button">Novo</a>
                            </div>    
                            <div class="list-group">

                            <a *ngFor="let municipio of listaMunicipios" class="list-group-item" >
                                {{ municipio?.val().muni_nm_municipio }}
                                <div style="float: right; margin-top: -5px;">
                                    <a class="btn btn-primary" [routerLink]="['/municipio', municipio.key]" [queryParams]="{modo: 'editar'}">Editar</a>
                                    <a class="btn btn-danger" [routerLink]="['/municipio', municipio.key]" [queryParams]="{modo: 'excluir'}">Excluir</a>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <section>
                        <article>
                            <kz-paginacao 
                                [qtdPorPagina]="qtdPorPagina" 
                                [totalRegistros]="totalRegistros"
                                [qtdAdjacentes]="qtdAdjacentes"
                                (onPaginate)="paginar($event)">
                            </kz-paginacao>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </section>



