<section id="pedido" class="cabecalho">
  <div class="faixa_branca">
      <div class="container">
          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <h1 class="titulo-pagina text-left">
                            {{ objEmpresa.empr_nm_razaosocial }}
                      </h1>
                      <h2 class="subtitulo-pagina text-left">
                        Delivery
                      </h2>
                      <hr>
                  </div>
              </div>
          </div>
          
          <!-- ***************** -->
          <!-- MENSAGEM          -->        
          <!-- ***************** -->

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <div class="{{ stsMensagem }}" [hidden]="flagHidden" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {{txtMensagem}}
                      </div>
                  </div>
              </div>
          </div>

          <!-- ***************** -->
          <!-- FILTRO            -->        
          <!-- ***************** -->          

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <form id="formfiltro" class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
                          <div class="form-group col-lg-6">
                              <label for="txtFiltro" class="control-label">Filtro: </label>
                              <input style="width: 490px;" type="text" id="txtFiltro" class="form-control" [(ngModel)]="txtFiltro" value="{{txtFiltro}}" name="txtFiltro" ngModel>
                          </div>
                          <button type="submit" class="btn btn-success">Filtrar</button>
                          <div class="form-group col-lg-6"></div>
                      </form>
                      <hr>
                  </div>
              </div>
          </div>
        
          <!-- ***************** -->
          <!-- LISTA DE PEDIDOS  -->        
          <!-- ***************** -->          

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <div class="list-group">
                          <a *ngFor="let pedido of listaPedidos" class="list-group-item" >
                              {{ pedido?.pedi_sq_id }}
                              <div style="float: right; margin-top: -5px;">
                                  <a class="btn btn-primary" [routerLink]="['/pedidodelivery', pedido.pedi_sq_id]">Ver Pedido</a>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



