	<section id="contato" class="cabecalho">
		<div class="faixa_branca">
            <div class="container">
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="titulo-pagina text-left">
                                <strong>Cadastro de Descritores</strong>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- **************************************************** -->
                <!-- CAIXA DE MENSAGEM                                    -->
                <!-- **************************************************** -->
                

                <div class="{{ stsMensagem }}" [hidden]="flagHidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{txtMensagem}}
                </div>

                <!-- **************************************************** -->
                <!-- FORMULÁRIO                                           -->
                <!-- **************************************************** -->


                <div class="row" >
                    <div class="box">
                        <div class="col-lg-12">
                            <form id="formDescritor" (ngSubmit)="onSubmit(f)" #f="ngForm">
                                <!-- **************************************************** -->
                                <!-- LINHA 1 - ID                                         -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label>ID</label>
                                        <input type="text" id="desc_sq_id" readonly class="form-control" [class.text-red]="modo=='excluir'" [(ngModel)]="model.desc_sq_id" name="desc_sq_id" >
                                    </div>
                                </div>
                                <!-- **************************************************** -->
                                <!-- LINHA 2 - DESCRITOR                                  -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-12"
                                        [class.has-error]="!descritor.valid && descritor.touched" 
                                        [class.has-feedback]="!descritor.valid && descritor.touched">
                                        <label for="desc_nm_descritor" class="control-label">Nome</label>
                                        <input type="text" id="desc_nm_descritor" class="form-control" [readOnly]="modo=='excluir'" [class.text-red]="modo=='excluir'" [(ngModel)]="model.desc_nm_descritor" name="desc_nm_descritor" #descritor="ngModel" ngModel required>
                                        <span id="help_descritor" class="help-block" *ngIf="!descritor.valid && descritor.touched">Nome é obrigatório</span>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!descritor.valid && descritor.touched" aria-hidden="true" style="margin-right: 15px;"></span>
                                        <span id="descritor" class="sr-only">(error)</span>  
                                    </div>
                                </div>
                                <!-- **************************************************** -->
                                <!-- LINHA 3 - INDICADOR DE DESCRITOR PRIVADO             -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-12 checkbox">
                                        <label for="desc_in_privado" class="control-label">
                                            <input type="checkbox" id="desc_in_privado" class="form-control margin-checkbox" [readOnly]="modo=='excluir'" [class.text-red]="modo=='excluir'" [(ngModel)]="model.desc_in_privado" #privado="ngModel" name="desc_in_privado" ngModel> Privado
                                        </label>
                                    </div>
                                </div>
                                <!-- **************************************************** -->
                                <!-- BOTÕES                                               -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <button *ngIf="modo=='editar'"  type="submit" class="btn btn-primary" [disabled]="!f.valid">Salvar</button>
                                        <button *ngIf="modo=='excluir'" type="button" class="btn btn-danger" (click)="excluirDescritor()">Confirmar Exclusão</button>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/descritor/lista']">Voltar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    



