	<section id="contato" class="cabecalho">
		<div class="faixa_branca">
            <div class="container">
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="titulo-pagina text-left">
                                <strong>Usuário - Configuração</strong>
                            </h2>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- ***************** -->
                <!-- CAIXA DE MENSAGEM -->        
                <!-- ***************** -->
                

                <div class="{{ stsMensagem }}" [hidden]="flagHidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{txtMensagem}}<br>
                </div>
                <div [hidden]="flagHidden">
                    <button type="button" class="btn btn-primary" [routerLink]="['/home']">Voltar</button>
                </div>

                <!-- ***************** -->
                <!-- FORMULÁRIO        -->        
                <!-- ***************** -->

                <div class="row" [hidden]="!flagHidden">
                    <div class="box">
                        <div class="col-lg-12">
                            <form id="formUsuario" (ngSubmit)="onSubmit(f)" #f="ngForm">
                                <!-- **************************************************** -->
                                <!-- LINHA 1 - ID, EMAIL                                  -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label>ID</label>
                                        <input type="text" id="usua_sq_id" readonly class="form-control" [(ngModel)]="model.usua_sq_id" name="usua_sq_id" >
                                    </div>
                                    <div class="form-group col-lg-9">
                                        <label for="usua_ds_email" class="control-label">Email</label>
                                        <input type="text" id="usua_ds_email" class="form-control" readOnly [(ngModel)]="model.usua_ds_email" value="{{model.usua_ds_email}}" name="usua_ds_email" ngModel>
                                    </div>
                                </div>
                                <!-- **************************************************** -->
                                <!-- LINHA 2 - SENHA, CONFIRMAÇÃO SENHA                   -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-6"
                                        [class.has-error]="!senha.valid && senha.touched" 
                                        [class.has-feedback]="!senha.valid && senha.touched">
                                    
                                        <label for="usua_tx_senha" class="control-label">Senha</label>
                                        <input type="password" id="usua_tx_senha" class="form-control" minlength="6" [(ngModel)]="model.usua_tx_senha" name="usua_tx_senha" #senha="ngModel" ngModel required >
                                        <span id="help_senha" class="help-block" *ngIf="!senha.valid && senha.touched">Senha é obrigatória e com no mínimo 6 dígitos!</span>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="!senha.valid && senha.touched" aria-hidden="true" style="margin-right: 15px;"></span>
                                        <span id="senha" class="sr-only">(error)</span>  
                                    </div>
                                    <div class="form-group col-lg-6"
                                        [class.has-error]="confirma.touched && senha.value!=confirma.value" 
                                        [class.has-feedback]="confirma.touched && senha.value!=confirma.value">
                                    
                                        <label for="usua_tx_confirmasenha" class="control-label">Confirmar Senha</label>
                                        <input type="password" id="usua_tx_confirmasenha" class="form-control" name="usu_tx_confirmasenha" #confirma="ngModel" ngModel>
                                        <span id="help_confirma" class="help-block" *ngIf="confirma.touched && senha.value!=confirma.value">Senha não confere!</span>
                                        <span class="glyphicon glyphicon-remove form-control-feedback" *ngIf="confirma.touched && senha.value!=confirma.value" aria-hidden="true" style="margin-right: 15px;"></span>
                                        <span id="confirma" class="sr-only">(error)</span>  
                                    </div>
                                </div>
                                <!-- **************************************************** -->
                                <!-- BOTÕES                                               -->
                                <!-- **************************************************** -->
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalUpload"  [disabled]="!f.valid">Salvar</button>
                                        <button type="button" class="btn btn-primary" [routerLink]="['/home']">Voltar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **************************************************** -->
    <!-- MODAL DE UPLOAD                                      -->
    <!-- **************************************************** -->
    <div class="modal fade" id="modalUpload" role="dialog">
        <div class="modal-dialog">
            <!-- Modal Content-->
            <div class="modal-content">
                <!-- HEADER -->
                <!-- CONTEÚDO PRINCIPAL -->            
                <div class="modal-body">
                    <div style="margin: 20px">
                     <h3>Aguarde....salvando dados.</h3>
                    </div>
                </div>
                <!-- FOOTER -->
            </div>
        </div>
    </div>        


